<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
<style>
h1 {
  font-family: sans-serif; 
}
.title {
  font-family: sans-serif;
  color: darkgreen;
}
.description {
  font-family: sans-serif;
  color: darkred;
}
.articles {
  font-family: sans-serif;
  color: darkorange;
}
body {
	background-color: beige;
}

</style>
  <body>

  <% flash.each do |name, msg | %>
    <%=msg%>
  <%end%>
  <%= yield %>
  </body>
</html>
